.button-container {
    display: flex;
    flex-direction: column; /* 縦方向に配置 */
    align-items: center; /* 中央揃え */
    margin-top: 30px;
    margin-bottom: 30px;
}
.button{
width: 350px;
height: 80px;
background-color:rgb(247, 242, 233);/* ボタンの背景色 */
color: black;/* 文字色 */
border-radius: 5px; /* 角を丸く */
font-size: large;/* フォントサイズ */
margin: 20px 0; /* ボタン間の間隔 */
border: 1px solid #333;/*枠線*/
}
